<div class="col">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        {% if project.kicker %}
          <p class="project-card__kicker page-kicker">{{ project.kicker }}</p>
        {% elsif project.summary == null and project.description %}
          <p class="project-card__kicker page-kicker">{{ project.description }}</p>
        {% endif %}
        <h3 class="card-title page-title page-title--card project-card__title">{{ project.title }}</h3>
        {% if project.summary %}
          <p class="project-card__summary">{{ project.summary }}</p>
        {% elsif project.kicker and project.description %}
          <p class="project-card__summary">{{ project.description }}</p>
        {% endif %}
        <div class="row ml-1 mr-1 p-0">
          {% include project_links.liquid item=project wrapper_class="project-links--card" show_stars=true aria_label="Project links" %}
        </div>
      </div>
    </div>
  </a>
</div>
